{% extends "base.html" %}
{% load static %}

{% block content %}

<br>

<!-- Contract Section-->
<section id="services" class="section-padding bg-gray">
    <div class="container">
        <div class="section-header text-center">
            <h2 class="section-title">Leaders</h2>
        </div>
        <ul class="card-wrapper">
            {% for result in results %}
                {% if forloop.counter <= 3 %}
                    {% if result.run_photo %}
                        <li class="card shot-item zoom-icon">
                            <a href=""><img src="{{result.run_photo.url}}"" alt=""></a>
                            <p class="text-center" style="font-size:18px"><strong>{{result.first_name }} {{result.last_name }}</strong></p>
                            <p class="text-center" style="font-size:18px">{{result.minutes}}:{{result.seconds}}</p>
                            <p class="text-center" style="font-size:18px">{{result.gender}}</p>
                            <p class="text-center" style="font-size:18px">{{result.age_group}}</p>
                        </li>
                    {% else %}
                        {%if forloop.counter == 1%}
                            <li class="card shot-item zoom-icon">
                                <a href=""><img src="{% static 'live_dashboard/winner_1.jpg' %}"" alt=""></a>
                                <p class="text-center" style="font-size:18px"><strong>{{result.first_name }} {{result.last_name }}</strong></p>
                                <p class="text-center" style="font-size:18px">{{result.minutes}}:{{result.seconds}}</p>
                                <p class="text-center" style="font-size:18px">{{result.gender}}</p>
                                <p class="text-center" style="font-size:18px">{{result.age_group}}</p>
                            </li>
                        {%elif forloop.counter == 2%}
                            <li class="card shot-item zoom-icon">
                                <a href=""><img src="{% static 'live_dashboard/winner_2.jpg' %}"" alt=""></a>
                                <p class="text-center" style="font-size:18px"><strong>{{result.first_name }} {{result.last_name }}</strong></p>
                                <p class="text-center" style="font-size:18px">{{result.minutes}}:{{result.seconds}}</p>
                                <p class="text-center" style="font-size:18px">{{result.gender}}</p>
                                <p class="text-center" style="font-size:18px">{{result.age_group}}</p>
                            </li>
                        {%elif forloop.counter == 3%}
                            <li class="card shot-item zoom-icon">
                                <a href=""><img src="{% static 'live_dashboard/winner_3.jpg' %}"" alt=""></a>
                                <p class="text-center" style="font-size:18px"><strong>{{result.first_name }} {{result.last_name }}</strong></p>
                                <p class="text-center" style="font-size:18px">{{result.minutes}}:{{result.seconds}}</p>
                                <p class="text-center" style="font-size:18px">{{result.gender}}</p>
                                <p class="text-center" style="font-size:18px">{{result.age_group}}</p>
                            </li>
                        {%endif%}
                    {%endif%}
                {%endif%}            
            {% endfor %}        
        </ul>
    </div>
</section>

<br>

<div class="container section-padding" >  
    <div class="section-header text-center">
        <h2 class="section-title">Overall Scoreboard</h2>
    </div>
    <div class="section-header text-center">
        <table class="table">
            <thread>
                <tr class="header table-light">
                    <th style="width:5%;">Rank</th>
                    <th style="width:25%;">First Name</th>
                    <th style="width:25%;">Last Name</th>
                    <th style="width:5%;">Gender</th>
                    <th style="width:15%;">Age Group</th>
                    <th style="width:15%;">Time</th>
                </tr>
            </thread>
            <tbody id="levelTable">
                {% for result in results %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{result.first_name}}</td>
                        <td>{{result.last_name}}</td>
                        <td>{{result.gender}}</td>
                        <td>{{result.age_group}}</td>
                        <td>{{result.minutes}}:{{result.seconds}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>    
    </div>
    
</div>
{% endblock %}
